@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: linear-gradient(to right, #141E30, #243B55);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* em vez de center para começar do topo */
    color: #fff;
    padding: 40px 20px; /* mais espaçamento superior */
  }
  

.container {
  max-width: 700px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
  text-align: left;
  margin-top: 40px;
}

h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #e0e0e0;
}

img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  cursor: pointer;
}

form input[type="radio"] {
  margin-right: 8px;
}

button {
  background-color: #243B55;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #1a2b40;
}
